insight-intelligence-corp/n8n/demo-form-call-submission.json
{
  "name": "demo-form-submission",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-form-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "25247020-ca51-4f10-8619-8fe1ae7cb624",
      "name": "Demo Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        384
      ],
      "webhookId": "auto-generated"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json.body.name || $json.body.full_name || ($json.body.firstName && $json.body.lastName ? $json.body.firstName + ' ' + $json.body.lastName : ($json.body.firstName || $json.body.lastName || 'Name not provided'))}}"
            },
            {
              "name": "email",
              "value": "={{$json.body.email || $json.body.email_address || 'Email not provided'}}"
            },
            {
              "name": "phone",
              "value": "={{$json.body.phone || $json.body.phone_number || $json.body.phoneNumber || 'Phone not provided'}}"
            },
            {
              "name": "company",
              "value": "={{$json.body.company || $json.body.company_name || $json.body.organization || 'Company not provided'}}"
            },
            {
              "name": "industry",
              "value": "={{$json.body.industry || $json.body.industry_type || $json.body.business_type || $json.body.sector || 'Industry not provided'}}"
            },
            {
              "name": "message",
              "value": "={{$json.body.message || $json.body.comments || $json.body.inquiry || $json.body.description || 'No message provided'}}"
            },
            {
              "name": "call_preference",
              "value": "={{$json.body.call_preference || $json.body.preferred_time || $json.body.best_time || 'ASAP'}}"
            },
            {
              "name": "urgency",
              "value": "={{$json.body.urgency || $json.body.priority || 'normal'}}"
            },
            {
              "name": "form_type",
              "value": "={{$json.body.form_type || $json.body.formType || 'demo_request'}}"
            },
            {
              "name": "source_page",
              "value": "={{$json.body.source || $json.body.page || $json.body.referrer || 'Website'}}"
            },
            {
              "name": "submission_time",
              "value": "={{DateTime.now().toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "082a5619-43e4-4211-9fd4-e3636791cc7d",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "phone-validation",
              "leftValue": "={{$node['Extract Form Data'].json['phone']}}",
              "rightValue": "Phone not provided",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "phone-format-validation",
              "leftValue": "={{$node['Extract Form Data'].json['phone'].replace(/[^0-9]/g, '').length}}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a241a0d2-c69b-49d0-98fb-cd19aea094cc",
      "name": "Validate Phone Number",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        384
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "formatted_phone",
              "value": "={{$node['Extract Form Data'].json['phone'].replace(/[^0-9]/g, '').length === 10 ? '+1' + $node['Extract Form Data'].json['phone'].replace(/[^0-9]/g, '') : ($node['Extract Form Data'].json['phone'].startsWith('+') ? $node['Extract Form Data'].json['phone'].replace(/[^+0-9]/g, '') : '+1' + $node['Extract Form Data'].json['phone'].replace(/[^0-9]/g, ''))}}"
            },
            {
              "name": "customer_name",
              "value": "={{$node['Extract Form Data'].json['name']}}"
            },
            {
              "name": "customer_email",
              "value": "={{$node['Extract Form Data'].json['email']}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c2627301-8cc3-49c0-a7b6-f348bf34aa9e",
      "name": "Format Phone Number",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        144
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{$node['Extract Form Data'].json['email']}}",
        "additionalFields": {
          "companyName": "={{$node['Extract Form Data'].json['company'] !== 'Company not provided' ? $node['Extract Form Data'].json['company'] : ''}}",
          "firstName": "={{$node['Extract Form Data'].json['name'] && $node['Extract Form Data'].json['name'] !== 'Name not provided' ? $node['Extract Form Data'].json['name'].trim().split(' ')[0] : 'Unknown'}}",
          "industry": "={{$node['Extract Form Data'].json['industry'] !== 'Industry not provided' ? $node['Extract Form Data'].json['industry'] : ''}}",
          "lastName": "={{$node['Extract Form Data'].json['name'] && $node['Extract Form Data'].json['name'] !== 'Name not provided' && $node['Extract Form Data'].json['name'].trim().split(' ').length > 1 ? $node['Extract Form Data'].json['name'].trim().split(' ').slice(1).join(' ') : 'Unknown'}}",
          "message": "={{$node['Extract Form Data'].json['message'] !== 'No message provided' ? $node['Extract Form Data'].json['message'] : ''}}",
          "phoneNumber": "={{$node['Extract Form Data'].json['phone'] !== 'Phone not provided' ? $node['Extract Form Data'].json['phone'] : ''}}"
        },
        "options": {}
      },
      "id": "882d9431-b48c-4bb5-ab24-289e56ef99ea",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        720,
        224
      ],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "687iXSpXdMKwW2N5",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "e76a435a-6314-476e-8803-85e4cf699eb1",
          "mode": "list",
          "cachedResultName": "Insight Intelligence"
        },
        "channelId": {
          "__rl": true,
          "value": "19:95edcac37453492a8a7ea59347530024@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Sales"
        },
        "message": "=📋 **New Demo Form Submission**\n\n**Contact Information:**\n• **Name:** {{$node['Extract Form Data'].json['name']}}\n• **Phone:** {{$node['Extract Form Data'].json['phone']}}\n• **Email:** {{$node['Extract Form Data'].json['email']}}\n• **Company:** {{$node['Extract Form Data'].json['company']}}\n• **Industry:** {{$node['Extract Form Data'].json['industry']}}\n\n**HubSpot Integration:**\n• **Contact ID:** {{$node['Create HubSpot Contact'].json['id']}}\n• **HubSpot URL:** [View Contact](https://app.hubspot.com/contacts/{{$node['Create HubSpot Contact'].json['portalId']}}/contact/{{$node['Create HubSpot Contact'].json['id']}})\n• **Lead Source:** Demo Form Submission\n\n**Form Details:**\n• **Urgency:** {{$node['Extract Form Data'].json['urgency']}}\n• **Source:** {{$node['Extract Form Data'].json['source_page']}}\n• **Call Preference:** {{$node['Extract Form Data'].json['call_preference']}}\n• **Submitted:** {{DateTime.fromISO($node['Extract Form Data'].json['submission_time']).toFormat('MMMM dd, yyyy \\u0061\\u0074 h:mm a')}}\n\n**Customer Message:**\n{{$node['Extract Form Data'].json['message']}}\n\n---\n*Demo form submitted and contact created in HubSpot* 📝✨",
        "options": {}
      },
      "id": "c31dc7ac-8083-4be7-b8a5-5c1ae58fc269",
      "name": "Send Teams Notification",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ],
      "webhookId": "b89e8797-ce89-4f4f-b6d5-0445212108a5",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "6pTc2hJVUNyTyOzc",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Thank you for your demo request! Our team will contact you shortly.\",\n  \"form_submitted\": true,\n  \"hubspot_contact_id\": \"{{$node['Create HubSpot Contact'].json['id']}}\",\n  \"submission_time\": \"{{$node['Extract Form Data'].json['submission_time']}}\",\n  \"next_steps\": \"Our sales team will reach out within 24 hours to schedule your demo\"\n}",
        "options": {}
      },
      "id": "576672e5-8ab5-4fa1-829c-24d4c2da9090",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Sorry, we couldn't initiate your call. Please check your phone number or try again.\",\n  \"error\": \"{{$json.message || 'Phone number validation failed'}}\",\n  \"suggestion\": \"Please ensure you've provided a valid phone number with area code\"\n}",
        "options": {}
      },
      "id": "91ff03b3-ab61-4dee-91e9-5e1d01e15894",
      "name": "Respond Error - Invalid Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Sorry, there was an issue initiating your call. We'll contact you manually.\",\n  \"error\": \"{{$json.message || 'VAPI call failed'}}\",\n  \"fallback\": \"Our team will reach out to you directly within 24 hours\"\n}",
        "options": {}
      },
      "id": "bc7c6b9f-c389-479d-83b2-fcd2e9cc9227",
      "name": "Respond Error - Call Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        496
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Demo Form Webhook": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Validate Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phone Number": {
      "main": [
        [
          {
            "node": "Format Phone Number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error - Invalid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Phone Number": {
      "main": [
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Contact": {
      "main": [
        [
          {
            "node": "Send Teams Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Teams Notification": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c8390df-1b85-4154-a334-00d090141e86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99aaeba6b75257ee350bb8eb8800a228cb7b97e21f9b2e1e88ec25277f30b9a0"
  },
  "id": "fYWcdowWg5k8jdre",
  "tags": []
}