insight-intelligence-corp/n8n/test-if-node-minimal.json
{
  "name": "test-if-node-minimal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-routing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Simple test: set a boolean flag\nconst message = $json.body.message || '';\nconst isDemo = message.toLowerCase().includes('demo');\n\nreturn {\n  json: {\n    message: message,\n    isDemo: isDemo,\n    testFlag: true\n  }\n};"
      },
      "id": "set-boolean-test",
      "name": "Set Boolean Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "demo-check",
              "leftValue": "={{$json.isDemo}}",
              "rightValue": true,
              "operator": {
                "type": "boolean"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "test-if-node",
      "name": "Test IF Node",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'DEMO_PATH', message: $node['Set Boolean Test'].json.message, isDemo: $node['Set Boolean Test'].json.isDemo } }}",
        "options": {}
      },
      "id": "demo-response",
      "name": "Demo Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'STANDARD_PATH', message: $node['Set Boolean Test'].json.message, isDemo: $node['Set Boolean Test'].json.isDemo } }}",
        "options": {}
      },
      "id": "standard-response",
      "name": "Standard Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 100]
    }
  ],
  "pinData": {},
  "connections": {
    "Test Webhook": {
      "main": [[{"node": "Set Boolean Test", "type": "main", "index": 0}]]
    },
    "Set Boolean Test": {
      "main": [[{"node": "Test IF Node", "type": "main", "index": 0}]]
    },
    "Test IF Node": {
      "main": [
        [{"node": "Demo Response", "type": "main", "index": 0}],
        [{"node": "Standard Response", "type": "main", "index": 0}]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "test-routing-minimal",
  "tags": []
}